.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: #090602;
  position: relative;
  min-width: 0;
  padding: 64px 40px 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #090602;
    min-width: 0;
    padding: 64px 40px 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__twjmC {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-right: 40px;
  padding-left: 40px;
  min-width: 0;
}
.freeBox__twjmC > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__twjmC > :global(.__wab_flex-container) > *,
.freeBox__twjmC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__twjmC > :global(.__wab_flex-container) > picture > img,
.freeBox__twjmC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twjmC {
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twjmC > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__twjmC > :global(.__wab_flex-container) > *,
  .freeBox__twjmC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__twjmC > :global(.__wab_flex-container) > picture > img,
  .freeBox__twjmC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 16px;
  }
}
.freeBox__adp {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 280px;
  flex-shrink: 0;
}
.freeBox__adp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__adp > :global(.__wab_flex-container) > *,
.freeBox__adp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__adp > :global(.__wab_flex-container) > picture > img,
.freeBox__adp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__adp {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
    width: 280px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__adp > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__adp > :global(.__wab_flex-container) > *,
  .freeBox__adp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__adp > :global(.__wab_flex-container) > picture > img,
  .freeBox__adp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__oOx02 {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oOx02 {
    align-self: flex-start;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.text__gyIsV {
  width: 100%;
  max-width: 800px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  margin-bottom: 0px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gyIsV {
    align-self: flex-start;
    width: 100%;
    max-width: 800px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.link__tddE3 {
  position: relative;
  left: auto;
  top: auto;
  color: #ffffff;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration-line: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  border-bottom: 1px none #1c1a17;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__tddE3 {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: #ffffff;
  }
}
.link___0Pnnp {
  position: relative;
  left: auto;
  top: auto;
  color: #ffffff;
  text-transform: none;
  font-weight: 600;
  text-decoration-line: none;
  height: auto;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
  border-bottom: 1px none #1c1a17;
}
.freeBox__uJn7M {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 280px;
  left: auto;
  top: auto;
  height: 126px;
  flex-shrink: 0;
}
.freeBox__uJn7M > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__uJn7M > :global(.__wab_flex-container) > *,
.freeBox__uJn7M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uJn7M > :global(.__wab_flex-container) > picture > img,
.freeBox__uJn7M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uJn7M {
    align-self: flex-start;
    display: flex;
    position: relative;
    width: 280px;
    left: auto;
    top: auto;
    flex-direction: column;
    height: 126px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uJn7M > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uJn7M > :global(.__wab_flex-container) > *,
  .freeBox__uJn7M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uJn7M > :global(.__wab_flex-container) > picture > img,
  .freeBox__uJn7M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
._2 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  ._2 {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    font-size: 20px;
    color: #ffffff;
  }
}
.link__mFcHl {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__gcnra {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___7JId1 {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___1SKkL {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  height: 118px;
  align-self: center;
  min-width: 0;
}
.freeBox___1SKkL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___1SKkL > :global(.__wab_flex-container) > *,
.freeBox___1SKkL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1SKkL > :global(.__wab_flex-container) > picture > img,
.freeBox___1SKkL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1SKkL {
    align-self: flex-start;
    height: 80px;
    display: flex;
    position: relative;
    width: 100%;
    left: auto;
    top: auto;
    flex-direction: column;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1SKkL > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1SKkL > :global(.__wab_flex-container) > *,
  .freeBox___1SKkL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1SKkL > :global(.__wab_flex-container) > picture > img,
  .freeBox___1SKkL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__emKz {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: left;
  margin-bottom: 0px;
  margin-left: 133px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__emKz {
    margin-left: calc(0px + 0px) !important;
    align-self: flex-start;
    width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    margin-bottom: 0px;
    min-width: 0;
  }
}
.freeBox___5PBuv {
  display: block;
  position: relative;
  width: 280px;
  height: 80px;
  max-width: 100%;
  background: none;
  align-self: flex-end;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5PBuv {
    align-self: flex-start;
    background: none;
    height: 60px;
    display: block;
    position: relative;
    width: 280px;
    max-width: 100%;
    flex-shrink: 0;
    padding: 8px;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: auto;
  width: 262px;
}
.button__inYpq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xjyV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.svg___6Iojy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__uSwy2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ngIB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__nji8Q {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nji8Q > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nji8Q > :global(.__wab_flex-container) > *,
.freeBox__nji8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nji8Q > :global(.__wab_flex-container) > picture > img,
.freeBox__nji8Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nji8Q {
    position: relative;
    flex-direction: row;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nji8Q > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nji8Q > :global(.__wab_flex-container) > *,
  .freeBox__nji8Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nji8Q > :global(.__wab_flex-container) > picture > img,
  .freeBox__nji8Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link__ilNpI {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__ilNpI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ilNpI > :global(.__wab_flex-container) > *,
.link__ilNpI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ilNpI > :global(.__wab_flex-container) > picture > img,
.link__ilNpI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__ngOZf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__gcZ3F {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__gcZ3F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gcZ3F > :global(.__wab_flex-container) > *,
.freeBox__gcZ3F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gcZ3F > :global(.__wab_flex-container) > picture > img,
.freeBox__gcZ3F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gcZ3F {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gcZ3F > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gcZ3F > :global(.__wab_flex-container) > *,
  .freeBox__gcZ3F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gcZ3F > :global(.__wab_flex-container) > picture > img,
  .freeBox__gcZ3F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__zbKqc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__zbKqc {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg__v2RH8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
.svg__b0EVn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #05050599;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__b0EVn {
    object-fit: cover;
    width: 24px;
    height: 24px;
    color: #05050599;
    flex-shrink: 0;
  }
}
.svg__aijT1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__xvKa7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__fjref {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.link___0E9Y {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link___0E9Y > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___0E9Y > :global(.__wab_flex-container) > *,
.link___0E9Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___0E9Y > :global(.__wab_flex-container) > picture > img,
.link___0E9Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___1Srp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__sZpsd {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg___3Ce1I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__wxrqB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1200px;
  border-top-style: solid;
  border-top-width: 1px;
  min-width: 0;
  padding: 8px 8px 0px 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wxrqB {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 1200px;
    border-top-style: solid;
    border-top-width: 1px;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 8px 0px 0px;
  }
}
.freeBox___89UzI {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
}
.freeBox___89UzI > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___89UzI > :global(.__wab_flex-container) > *,
.freeBox___89UzI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___89UzI > :global(.__wab_flex-container) > picture > img,
.freeBox___89UzI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___89UzI {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___89UzI > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___89UzI > :global(.__wab_flex-container) > *,
  .freeBox___89UzI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___89UzI > :global(.__wab_flex-container) > picture > img,
  .freeBox___89UzI
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 5px;
  }
}
.freeBox__ctsFf {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox__ctsFf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ctsFf > :global(.__wab_flex-container) > *,
.freeBox__ctsFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ctsFf > :global(.__wab_flex-container) > picture > img,
.freeBox__ctsFf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctsFf {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctsFf > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ctsFf > :global(.__wab_flex-container) > *,
  .freeBox__ctsFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ctsFf > :global(.__wab_flex-container) > picture > img,
  .freeBox__ctsFf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__zou7L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  align-self: flex-start;
  padding: 8px 8px 1px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zou7L {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: auto;
    height: auto;
    align-self: flex-start;
    flex-row-gap: 0px;
    padding: 8px 8px 1px 0px;
  }
}
.text__aou1S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aou1S {
    font-size: 11px;
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    text-align: left;
  }
}
.httpsstudioplasmicapp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: left;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 14px;
  padding-left: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  color: #1c1a17;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .httpsstudioplasmicapp {
    font-size: 11px;
    position: relative;
    width: auto;
    height: auto;
    max-width: 800px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
    padding-left: 0px;
  }
}
.freeBox__dvkh6 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox__dvkh6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dvkh6 > :global(.__wab_flex-container) > *,
.freeBox__dvkh6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dvkh6 > :global(.__wab_flex-container) > picture > img,
.freeBox__dvkh6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dvkh6 {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dvkh6 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dvkh6 > :global(.__wab_flex-container) > *,
  .freeBox__dvkh6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dvkh6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__dvkh6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__ocEuz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ocEuz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ocEuz > :global(.__wab_flex-container) > *,
.freeBox__ocEuz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocEuz > :global(.__wab_flex-container) > picture > img,
.freeBox__ocEuz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ocEuz {
    width: auto;
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ocEuz > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ocEuz > :global(.__wab_flex-container) > *,
  .freeBox__ocEuz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ocEuz > :global(.__wab_flex-container) > picture > img,
  .freeBox__ocEuz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___46Ezg {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  width: 100%;
  box-shadow: 0px 10px 10px 0px #00000026;
  height: auto;
  min-width: 0;
  border-radius: 16px;
  padding: 0px;
}
.freeBox___46Ezg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___46Ezg > :global(.__wab_flex-container) > *,
.freeBox___46Ezg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___46Ezg > :global(.__wab_flex-container) > picture > img,
.freeBox___46Ezg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___46Ezg {
    display: flex;
    flex-direction: column;
    position: relative;
    background: none;
    width: auto;
    box-shadow: 0px 10px 10px 0px #00000026;
    height: auto;
    border-radius: 16px;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___46Ezg > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___46Ezg > :global(.__wab_flex-container) > *,
  .freeBox___46Ezg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___46Ezg > :global(.__wab_flex-container) > picture > img,
  .freeBox___46Ezg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__zYjoq {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zYjoq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zYjoq > :global(.__wab_flex-container) > *,
.freeBox__zYjoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zYjoq > :global(.__wab_flex-container) > picture > img,
.freeBox__zYjoq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zYjoq {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zYjoq > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zYjoq > :global(.__wab_flex-container) > *,
  .freeBox__zYjoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zYjoq > :global(.__wab_flex-container) > picture > img,
  .freeBox__zYjoq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.link___0Owy {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link___0Owy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link___0Owy > :global(.__wab_flex-container) > *,
.link___0Owy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link___0Owy > :global(.__wab_flex-container) > picture > img,
.link___0Owy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0Owy {
    align-self: flex-start;
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0Owy > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___0Owy > :global(.__wab_flex-container) > *,
  .link___0Owy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link___0Owy > :global(.__wab_flex-container) > picture > img,
  .link___0Owy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg__utRd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__sdqPl {
  font-size: 12px;
  color: #ffffff;
  margin-right: 0px;
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sdqPl {
    font-size: 12px;
    color: #ffffff;
    margin-right: 0px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }
}
.svg__hkxrd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__bybAt {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 0px;
  border: 1px solid transparent;
}
.link__bybAt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__bybAt > :global(.__wab_flex-container) > *,
.link__bybAt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__bybAt > :global(.__wab_flex-container) > picture > img,
.link__bybAt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bybAt {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 0px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bybAt > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bybAt > :global(.__wab_flex-container) > *,
  .link__bybAt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__bybAt > :global(.__wab_flex-container) > picture > img,
  .link__bybAt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg___8VnDj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__j3Tf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__yv83V {
  font-size: 14px;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yv83V {
    margin-right: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.link__neVmQ {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 20px;
  border: 1px solid transparent;
}
.link__neVmQ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__neVmQ > :global(.__wab_flex-container) > *,
.link__neVmQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__neVmQ > :global(.__wab_flex-container) > picture > img,
.link__neVmQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__neVmQ {
    position: relative;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 6px;
    padding: 4px 10px;
    border: 1px solid transparent;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__neVmQ > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__neVmQ > :global(.__wab_flex-container) > *,
  .link__neVmQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__neVmQ > :global(.__wab_flex-container) > picture > img,
  .link__neVmQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.svg___9YQsf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__xOeWg {
  font-size: 14px;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  text-align: left;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xOeWg {
    margin-right: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.svg__n8N8A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
