@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Antic+Slab%3Aital%2Cwght%400%2C400&family=Encode+Sans+Condensed%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Open+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C800&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-x3MyM_aCZGP-_font-family: "Inter";
  --mixin-x3MyM_aCZGP-_font-size: 16px;
  --mixin-x3MyM_aCZGP-_font-weight: 400;
  --mixin-x3MyM_aCZGP-_font-style: normal;
  --mixin-x3MyM_aCZGP-_color: #535353;
  --mixin-x3MyM_aCZGP-_text-align: left;
  --mixin-x3MyM_aCZGP-_text-transform: none;
  --mixin-x3MyM_aCZGP-_line-height: 1.5;
  --mixin-x3MyM_aCZGP-_letter-spacing: normal;
  --mixin-x3MyM_aCZGP-_white-space: pre-wrap;
  --mixin-x3MyM_aCZGP-_user-select: text;
  --mixin-x3MyM_aCZGP-_text-decoration-line: none;
  --mixin-x3MyM_aCZGP-_text-overflow: clip;
  --mixin-UU8fHrqOI4ob_color: #000000;
  --mixin-UU8fHrqOI4ob_font-weight: 900;
  --mixin-UU8fHrqOI4ob_font-size: 72px;
  --mixin-UU8fHrqOI4ob_line-height: 1;
  --mixin-UU8fHrqOI4ob_letter-spacing: -4px;
  --mixin-UU8fHrqOI4ob_white-space: pre-wrap;
  --mixin-XvnCO4hyjjZm_font-family: "Inter";
  --mixin-XvnCO4hyjjZm_color: #000000;
  --mixin-XvnCO4hyjjZm_font-size: 48px;
  --mixin-XvnCO4hyjjZm_font-weight: 700;
  --mixin-XvnCO4hyjjZm_letter-spacing: -1px;
  --mixin-XvnCO4hyjjZm_line-height: 1.1;
  --mixin-XvnCO4hyjjZm_white-space: pre-wrap;
  --mixin-VWYYCA6YylbW_color: #0070f3;
  --mixin-VWYYCA6YylbW_white-space: pre-wrap;
  --mixin-87bqckZ9m7LM_font-family: "Inter";
  --mixin-87bqckZ9m7LM_color: #000000;
  --mixin-87bqckZ9m7LM_font-size: 32px;
  --mixin-87bqckZ9m7LM_font-weight: 600;
  --mixin-87bqckZ9m7LM_letter-spacing: -0.8px;
  --mixin-87bqckZ9m7LM_line-height: 1.2;
  --mixin-87bqckZ9m7LM_white-space: pre-wrap;
  --mixin-PfcsJCmozkj-_font-family: "Inter";
  --mixin-PfcsJCmozkj-_color: #000000;
  --mixin-PfcsJCmozkj-_font-size: 24px;
  --mixin-PfcsJCmozkj-_font-weight: 600;
  --mixin-PfcsJCmozkj-_letter-spacing: -0.5px;
  --mixin-PfcsJCmozkj-_line-height: 1.3;
  --mixin-PfcsJCmozkj-_white-space: pre-wrap;
  --mixin-uCVPz4znVans_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-uCVPz4znVans_border-bottom-color: #dddddd;
  --mixin-uCVPz4znVans_border-bottom-style: solid;
  --mixin-uCVPz4znVans_border-bottom-width: 1px;
  --mixin-uCVPz4znVans_border-left-color: #dddddd;
  --mixin-uCVPz4znVans_border-left-style: solid;
  --mixin-uCVPz4znVans_border-left-width: 1px;
  --mixin-uCVPz4znVans_border-right-color: #dddddd;
  --mixin-uCVPz4znVans_border-right-style: solid;
  --mixin-uCVPz4znVans_border-right-width: 1px;
  --mixin-uCVPz4znVans_border-top-color: #dddddd;
  --mixin-uCVPz4znVans_border-top-style: solid;
  --mixin-uCVPz4znVans_border-top-width: 1px;
  --mixin-uCVPz4znVans_border-bottom-left-radius: 3px;
  --mixin-uCVPz4znVans_border-bottom-right-radius: 3px;
  --mixin-uCVPz4znVans_border-top-left-radius: 3px;
  --mixin-uCVPz4znVans_border-top-right-radius: 3px;
  --mixin-uCVPz4znVans_font-family: "Inconsolata";
  --mixin-uCVPz4znVans_padding-bottom: 1px;
  --mixin-uCVPz4znVans_padding-left: 4px;
  --mixin-uCVPz4znVans_padding-right: 4px;
  --mixin-uCVPz4znVans_padding-top: 1px;
  --mixin-uCVPz4znVans_white-space: pre-wrap;
  --mixin-P0dhRFvkh0Ed_border-left-color: #dddddd;
  --mixin-P0dhRFvkh0Ed_border-left-style: solid;
  --mixin-P0dhRFvkh0Ed_border-left-width: 3px;
  --mixin-P0dhRFvkh0Ed_color: #888888;
  --mixin-P0dhRFvkh0Ed_padding-left: 10px;
  --mixin-P0dhRFvkh0Ed_white-space: pre-wrap;
  --mixin-0ksZOGGIadvi_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0ksZOGGIadvi_border-bottom-color: #dddddd;
  --mixin-0ksZOGGIadvi_border-bottom-style: solid;
  --mixin-0ksZOGGIadvi_border-bottom-width: 1px;
  --mixin-0ksZOGGIadvi_border-left-color: #dddddd;
  --mixin-0ksZOGGIadvi_border-left-style: solid;
  --mixin-0ksZOGGIadvi_border-left-width: 1px;
  --mixin-0ksZOGGIadvi_border-right-color: #dddddd;
  --mixin-0ksZOGGIadvi_border-right-style: solid;
  --mixin-0ksZOGGIadvi_border-right-width: 1px;
  --mixin-0ksZOGGIadvi_border-top-color: #dddddd;
  --mixin-0ksZOGGIadvi_border-top-style: solid;
  --mixin-0ksZOGGIadvi_border-top-width: 1px;
  --mixin-0ksZOGGIadvi_border-bottom-left-radius: 3px;
  --mixin-0ksZOGGIadvi_border-bottom-right-radius: 3px;
  --mixin-0ksZOGGIadvi_border-top-left-radius: 3px;
  --mixin-0ksZOGGIadvi_border-top-right-radius: 3px;
  --mixin-0ksZOGGIadvi_font-family: "Inconsolata";
  --mixin-0ksZOGGIadvi_padding-bottom: 3px;
  --mixin-0ksZOGGIadvi_padding-left: 6px;
  --mixin-0ksZOGGIadvi_padding-right: 6px;
  --mixin-0ksZOGGIadvi_padding-top: 3px;
  --mixin-0ksZOGGIadvi_white-space: pre-wrap;
  --mixin-uPKorYWAVCGb_display: flex;
  --mixin-uPKorYWAVCGb_flex-direction: column;
  --mixin-uPKorYWAVCGb_align-items: stretch;
  --mixin-uPKorYWAVCGb_justify-content: flex-start;
  --mixin-uPKorYWAVCGb_list-style-position: outside;
  --mixin-uPKorYWAVCGb_padding-left: 40px;
  --mixin-uPKorYWAVCGb_position: relative;
  --mixin-uPKorYWAVCGb_list-style-type: disc;
  --mixin-uPKorYWAVCGb_white-space: pre-wrap;
  --mixin-C5qqMJ1i-2Jw_display: flex;
  --mixin-C5qqMJ1i-2Jw_flex-direction: column;
  --mixin-C5qqMJ1i-2Jw_align-items: stretch;
  --mixin-C5qqMJ1i-2Jw_justify-content: flex-start;
  --mixin-C5qqMJ1i-2Jw_list-style-position: outside;
  --mixin-C5qqMJ1i-2Jw_padding-left: 40px;
  --mixin-C5qqMJ1i-2Jw_position: relative;
  --mixin-C5qqMJ1i-2Jw_list-style-type: decimal;
  --mixin-C5qqMJ1i-2Jw_white-space: pre-wrap;
  --mixin-z6vv2M6B_i4qd_font-family: "Inter";
  --mixin-z6vv2M6B_i4qd_color: #000000;
  --mixin-z6vv2M6B_i4qd_font-size: 20px;
  --mixin-z6vv2M6B_i4qd_font-weight: 600;
  --mixin-z6vv2M6B_i4qd_letter-spacing: -0.3px;
  --mixin-z6vv2M6B_i4qd_line-height: 1.5;
  --mixin-z6vv2M6B_i4qd_white-space: pre-wrap;
  --mixin-nUbefoqGhokRb_font-family: "Inter";
  --mixin-nUbefoqGhokRb_color: #000000;
  --mixin-nUbefoqGhokRb_font-size: 16px;
  --mixin-nUbefoqGhokRb_font-weight: 600;
  --mixin-nUbefoqGhokRb_line-height: 1.5;
  --mixin-nUbefoqGhokRb_white-space: pre-wrap;
  --mixin-Gdfu8FIAWZvEW_color: #3291ff;
  --mixin-Gdfu8FIAWZvEW_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-x3MyM_aCZGP-_font-family);
  font-size: var(--mixin-x3MyM_aCZGP-_font-size);
  font-weight: var(--mixin-x3MyM_aCZGP-_font-weight);
  font-style: var(--mixin-x3MyM_aCZGP-_font-style);
  color: var(--mixin-x3MyM_aCZGP-_color);
  text-align: var(--mixin-x3MyM_aCZGP-_text-align);
  text-transform: var(--mixin-x3MyM_aCZGP-_text-transform);
  line-height: var(--mixin-x3MyM_aCZGP-_line-height);
  letter-spacing: var(--mixin-x3MyM_aCZGP-_letter-spacing);
  white-space: var(--mixin-x3MyM_aCZGP-_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-UU8fHrqOI4ob_color);
  font-weight: var(--mixin-UU8fHrqOI4ob_font-weight);
  font-size: var(--mixin-UU8fHrqOI4ob_font-size);
  line-height: var(--mixin-UU8fHrqOI4ob_line-height);
  letter-spacing: var(--mixin-UU8fHrqOI4ob_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-XvnCO4hyjjZm_font-family);
  color: var(--mixin-XvnCO4hyjjZm_color);
  font-size: var(--mixin-XvnCO4hyjjZm_font-size);
  font-weight: var(--mixin-XvnCO4hyjjZm_font-weight);
  letter-spacing: var(--mixin-XvnCO4hyjjZm_letter-spacing);
  line-height: var(--mixin-XvnCO4hyjjZm_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-VWYYCA6YylbW_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-87bqckZ9m7LM_font-family);
  color: var(--mixin-87bqckZ9m7LM_color);
  font-size: var(--mixin-87bqckZ9m7LM_font-size);
  font-weight: var(--mixin-87bqckZ9m7LM_font-weight);
  letter-spacing: var(--mixin-87bqckZ9m7LM_letter-spacing);
  line-height: var(--mixin-87bqckZ9m7LM_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-PfcsJCmozkj-_font-family);
  color: var(--mixin-PfcsJCmozkj-_color);
  font-size: var(--mixin-PfcsJCmozkj-_font-size);
  font-weight: var(--mixin-PfcsJCmozkj-_font-weight);
  letter-spacing: var(--mixin-PfcsJCmozkj-_letter-spacing);
  line-height: var(--mixin-PfcsJCmozkj-_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-uCVPz4znVans_background);
  font-family: var(--mixin-uCVPz4znVans_font-family);
  border-radius: var(--mixin-uCVPz4znVans_border-top-left-radius)
    var(--mixin-uCVPz4znVans_border-top-right-radius)
    var(--mixin-uCVPz4znVans_border-bottom-right-radius)
    var(--mixin-uCVPz4znVans_border-bottom-left-radius);
  padding: var(--mixin-uCVPz4znVans_padding-top)
    var(--mixin-uCVPz4znVans_padding-right)
    var(--mixin-uCVPz4znVans_padding-bottom)
    var(--mixin-uCVPz4znVans_padding-left);
  border-top: var(--mixin-uCVPz4znVans_border-top-width)
    var(--mixin-uCVPz4znVans_border-top-style)
    var(--mixin-uCVPz4znVans_border-top-color);
  border-right: var(--mixin-uCVPz4znVans_border-right-width)
    var(--mixin-uCVPz4znVans_border-right-style)
    var(--mixin-uCVPz4znVans_border-right-color);
  border-bottom: var(--mixin-uCVPz4znVans_border-bottom-width)
    var(--mixin-uCVPz4znVans_border-bottom-style)
    var(--mixin-uCVPz4znVans_border-bottom-color);
  border-left: var(--mixin-uCVPz4znVans_border-left-width)
    var(--mixin-uCVPz4znVans_border-left-style)
    var(--mixin-uCVPz4znVans_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-P0dhRFvkh0Ed_color);
  padding-left: var(--mixin-P0dhRFvkh0Ed_padding-left);
  border-left: var(--mixin-P0dhRFvkh0Ed_border-left-width)
    var(--mixin-P0dhRFvkh0Ed_border-left-style)
    var(--mixin-P0dhRFvkh0Ed_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-0ksZOGGIadvi_background);
  font-family: var(--mixin-0ksZOGGIadvi_font-family);
  border-radius: var(--mixin-0ksZOGGIadvi_border-top-left-radius)
    var(--mixin-0ksZOGGIadvi_border-top-right-radius)
    var(--mixin-0ksZOGGIadvi_border-bottom-right-radius)
    var(--mixin-0ksZOGGIadvi_border-bottom-left-radius);
  padding: var(--mixin-0ksZOGGIadvi_padding-top)
    var(--mixin-0ksZOGGIadvi_padding-right)
    var(--mixin-0ksZOGGIadvi_padding-bottom)
    var(--mixin-0ksZOGGIadvi_padding-left);
  border-top: var(--mixin-0ksZOGGIadvi_border-top-width)
    var(--mixin-0ksZOGGIadvi_border-top-style)
    var(--mixin-0ksZOGGIadvi_border-top-color);
  border-right: var(--mixin-0ksZOGGIadvi_border-right-width)
    var(--mixin-0ksZOGGIadvi_border-right-style)
    var(--mixin-0ksZOGGIadvi_border-right-color);
  border-bottom: var(--mixin-0ksZOGGIadvi_border-bottom-width)
    var(--mixin-0ksZOGGIadvi_border-bottom-style)
    var(--mixin-0ksZOGGIadvi_border-bottom-color);
  border-left: var(--mixin-0ksZOGGIadvi_border-left-width)
    var(--mixin-0ksZOGGIadvi_border-left-style)
    var(--mixin-0ksZOGGIadvi_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-uPKorYWAVCGb_display);
  flex-direction: var(--mixin-uPKorYWAVCGb_flex-direction);
  align-items: var(--mixin-uPKorYWAVCGb_align-items);
  justify-content: var(--mixin-uPKorYWAVCGb_justify-content);
  list-style-position: var(--mixin-uPKorYWAVCGb_list-style-position);
  padding-left: var(--mixin-uPKorYWAVCGb_padding-left);
  position: var(--mixin-uPKorYWAVCGb_position);
  list-style-type: var(--mixin-uPKorYWAVCGb_list-style-type);
  flex-column-gap: var(--mixin-uPKorYWAVCGb_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-C5qqMJ1i-2Jw_display);
  flex-direction: var(--mixin-C5qqMJ1i-2Jw_flex-direction);
  align-items: var(--mixin-C5qqMJ1i-2Jw_align-items);
  justify-content: var(--mixin-C5qqMJ1i-2Jw_justify-content);
  list-style-position: var(--mixin-C5qqMJ1i-2Jw_list-style-position);
  padding-left: var(--mixin-C5qqMJ1i-2Jw_padding-left);
  position: var(--mixin-C5qqMJ1i-2Jw_position);
  list-style-type: var(--mixin-C5qqMJ1i-2Jw_list-style-type);
  flex-column-gap: var(--mixin-C5qqMJ1i-2Jw_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-z6vv2M6B_i4qd_font-family);
  color: var(--mixin-z6vv2M6B_i4qd_color);
  font-size: var(--mixin-z6vv2M6B_i4qd_font-size);
  font-weight: var(--mixin-z6vv2M6B_i4qd_font-weight);
  letter-spacing: var(--mixin-z6vv2M6B_i4qd_letter-spacing);
  line-height: var(--mixin-z6vv2M6B_i4qd_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-nUbefoqGhokRb_font-family);
  color: var(--mixin-nUbefoqGhokRb_color);
  font-size: var(--mixin-nUbefoqGhokRb_font-size);
  font-weight: var(--mixin-nUbefoqGhokRb_font-weight);
  line-height: var(--mixin-nUbefoqGhokRb_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Gdfu8FIAWZvEW_color);
}
