.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1428px;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#ffffff, #ffffff), #fffafa;
  position: relative;
  padding: 8px;
}
.freeBox__qtvQb {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qtvQb {
    margin-top: 0px;
    padding-top: 0px;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 64px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 64px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 64px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__obIfG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__obIfG {
    width: 100%;
  }
}
.freeBox__oNxF {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__oNxF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__oNxF > :global(.__wab_flex-container) > *,
.freeBox__oNxF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oNxF > :global(.__wab_flex-container) > picture > img,
.freeBox__oNxF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.img {
  opacity: 1;
  object-fit: cover;
  width: 287px;
  height: 264px;
  position: sticky;
  margin-bottom: 0px;
  margin-right: 0px;
  align-self: flex-start;
  left: 127px;
  top: 0px;
  z-index: 1;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: sticky;
    left: 0px;
    top: 32px;
    align-self: center;
    height: 171px;
    flex-shrink: 0;
  }
}
.column__kjAw9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kjAw9 {
    width: 100%;
  }
}
.freeBox__kzA5C {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__kzA5C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kzA5C > :global(.__wab_flex-container) > *,
.freeBox__kzA5C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kzA5C > :global(.__wab_flex-container) > picture > img,
.freeBox__kzA5C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__i0Kn3 {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__iynee:global(.__wab_instance) {
  position: relative;
}
.text__xUvxW {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___3Aja {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__gWcRp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___2XGXs:global(.__wab_instance) {
  position: relative;
}
.text__dpewZ {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__zDaak {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__v5ZYm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__cudSo:global(.__wab_instance) {
  position: relative;
  display: none;
}
.text___1PxHr {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__eurL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kimAn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ie7Vy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ie7Vy {
    width: 100%;
  }
}
.freeBox__rWe14 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__rWe14 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rWe14 > :global(.__wab_flex-container) > *,
.freeBox__rWe14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rWe14 > :global(.__wab_flex-container) > picture > img,
.freeBox__rWe14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__lEk3W {
  position: relative;
  left: auto;
  top: auto;
  color: #05050599;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.button__yxM5:global(.__wab_instance) {
  position: relative;
}
.text__pd7L {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__qdj6 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mfxc5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__nhP1B:global(.__wab_instance) {
  position: relative;
}
.text__ckCPt {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__a7Qp4 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__zjMGy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__byW3N:global(.__wab_instance) {
  position: relative;
  display: none;
}
.text__jaLiM {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__usEia {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ff6Ug {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__vapLl:global(.__wab_instance) {
  position: relative;
  display: none;
}
.text___0FlZ {
  color: #007aff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__k0Ud1 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__m1O38 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
