.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  max-width: 100%;
  background: none;
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1380px;
    background: none;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 16px;
  }
}
.link___5K86B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  background: none;
  padding: 0px;
}
.img {
  object-fit: contain;
  width: 100%;
  height: 197px;
  object-position: left 50%;
  max-width: 256px;
  margin-right: 0px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  align-self: flex-start;
  margin-left: 34px;
  margin-top: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
  object-position: left 50%;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
  object-position: left 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    height: 321px;
    object-fit: contain;
    width: 100%;
    object-position: left 50%;
    max-width: 395px;
    margin-right: 0px;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    align-self: flex-start;
    margin-left: 0px;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img > picture > img {
    object-fit: contain;
    object-position: left 50%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img > .__wab_img-spacer > img {
    object-fit: contain;
    object-position: left 50%;
  }
}
.freeBox__yZinR {
  flex-direction: row;
  position: absolute;
  background: #ffffff;
  padding-left: 0px;
  left: 828px;
  top: 215px;
  z-index: 0;
  align-self: center;
  width: auto;
  height: auto;
  margin-right: 0px;
  display: none;
}
.freeBox__yZinR > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__yZinR > :global(.__wab_flex-container) > *,
.freeBox__yZinR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yZinR > :global(.__wab_flex-container) > picture > img,
.freeBox__yZinR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yZinR {
    position: absolute;
    flex-direction: row;
    background: #ffffff;
    padding-left: 0px;
    left: 828px;
    top: 215px;
    z-index: 0;
    align-self: center;
    width: auto;
    height: auto;
    margin-right: 0px;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yZinR > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 11px);
    width: calc(100% + 11px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yZinR > :global(.__wab_flex-container) > *,
  .freeBox__yZinR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yZinR > :global(.__wab_flex-container) > picture > img,
  .freeBox__yZinR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 11px;
    margin-top: 8px;
  }
}
.aboutUs {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 6px;
  border: 1px solid transparent;
}
.aboutUs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.aboutUs > :global(.__wab_flex-container) > *,
.aboutUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutUs > :global(.__wab_flex-container) > picture > img,
.aboutUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xum7Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.text___8Lb5U {
  font-weight: 500;
  color: #05050599;
  font-size: 24px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Lb5U {
    font-weight: 500;
    color: #05050599;
    font-size: 24px;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    letter-spacing: normal;
    white-space: pre-wrap;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
  }
}
.svg__xkb7C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.gameRules {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.gameRules > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.gameRules > :global(.__wab_flex-container) > *,
.gameRules > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.gameRules > :global(.__wab_flex-container) > picture > img,
.gameRules
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__r5KUs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__y1Lb {
  font-weight: 500;
  color: #05050599;
  font-size: 24px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__opVT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.faq {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.faq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.faq > :global(.__wab_flex-container) > *,
.faq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.faq > :global(.__wab_flex-container) > picture > img,
.faq > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__nMvXz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__orMh {
  font-weight: 500;
  color: #05050599;
  font-size: 24px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg___7U2I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__heOba {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  cursor: pointer;
  display: none;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__heOba > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__heOba > :global(.__wab_flex-container) > *,
.link__heOba > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__heOba > :global(.__wab_flex-container) > picture > img,
.link__heOba
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uM5D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ez8C {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__nYSoZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__nwJj {
  position: relative;
  object-fit: cover;
  max-width: 39%;
  left: auto;
  top: auto;
  height: 52px;
  width: 75px;
  align-self: baseline;
  margin-right: 15px;
  flex-shrink: 0;
  display: none;
}
.freeBox__qOs7F {
  flex-direction: row;
  display: flex;
  position: relative;
  background: #ffffff;
  padding-left: 0px;
  left: auto;
  top: auto;
  z-index: 0;
  align-self: stretch;
  width: auto;
  height: auto;
  margin-right: 8px;
  padding-right: 6px;
  right: auto;
  margin-top: 0px;
}
.freeBox__qOs7F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.freeBox__qOs7F > :global(.__wab_flex-container) > *,
.freeBox__qOs7F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qOs7F > :global(.__wab_flex-container) > picture > img,
.freeBox__qOs7F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 11px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qOs7F {
    position: relative;
    flex-direction: row;
    background: #ffffff;
    padding-left: 0px;
    left: auto;
    top: auto;
    z-index: 0;
    align-self: center;
    width: auto;
    height: auto;
    margin-right: 0px;
    margin-top: calc(0px + 16px) !important;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qOs7F > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 11px);
    width: calc(100% + 11px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qOs7F > :global(.__wab_flex-container) > *,
  .freeBox__qOs7F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qOs7F > :global(.__wab_flex-container) > picture > img,
  .freeBox__qOs7F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 11px;
    margin-top: 8px;
  }
}
.aboutUs2 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  background: none;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.aboutUs2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.aboutUs2 > :global(.__wab_flex-container) > *,
.aboutUs2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutUs2 > :global(.__wab_flex-container) > picture > img,
.aboutUs2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___9Yso {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.text___9HaIn {
  font-weight: 500;
  color: #05050599;
  font-size: 24px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9HaIn {
    font-weight: 500;
    color: #05050599;
    font-size: 24px;
    line-height: 26px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    letter-spacing: normal;
    white-space: pre-wrap;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
  }
}
.svg__ujgLg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.gameRules2 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  background: none;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.gameRules2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.gameRules2 > :global(.__wab_flex-container) > *,
.gameRules2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.gameRules2 > :global(.__wab_flex-container) > picture > img,
.gameRules2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__chAi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__joXsO {
  font-weight: 500;
  color: #05050599;
  font-size: 24px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: 23px;
}
.svg__ygDtM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.faq2 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.faq2 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.faq2 > :global(.__wab_flex-container) > *,
.faq2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.faq2 > :global(.__wab_flex-container) > picture > img,
.faq2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.svg__yikr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lIqGb {
  font-weight: 500;
  color: #05050599;
  font-size: 24px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-style: normal;
  text-align: left;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.svg__m2To {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__kKZw8 {
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__kKZw8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__kKZw8 > :global(.__wab_flex-container) > *,
.link__kKZw8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kKZw8 > :global(.__wab_flex-container) > picture > img,
.link__kKZw8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__t9B30 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.svg__f7Pm8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: block;
}
